
<mat-stepper [linear]="isLinear" #stepper labelPosition="bottom" >
  <mat-step [stepControl]="eventInitiation1" label="Event Initiation1">
    <form [formGroup]="eventInitiation1">
      <div class="row p-1 mb-2"  >
          
          <div class="col-md-6">
            <mat-label>Is there any previous event open within 30 days?</mat-label>
            <mat-radio-group formControlName="withIn30days">
               <div style="display: flex; justify-content: space-evenly;">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
               </div> 
            </mat-radio-group>
          </div>
          <div class="col-md-6" *ngIf="toUploadDeviation1">
            <mat-label>Upload Deviation</mat-label><br>
            <input type="file" formControlName="uploadDeviation1">
          </div>
      </div>
      <div class="row p-1 mb-2" >
          
        <div class="col-md-6">
          <mat-label>Is the event within 7 days?</mat-label>
          <mat-radio-group formControlName="withIn7days" >
             <div style="display: flex; justify-content: space-evenly;">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
             </div>           
          </mat-radio-group>
        </div>
        <div class="col-md-6" *ngIf="toUploadDeviation2">
          <mat-label>Upload Deviation</mat-label><br>
          <input type="file" formControlName="uploadDeviation2">
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center" >
      <!-- <button mat-raised-button color="warn" matStepperNext  (click)="stepper.reset()" class="m-1">Reset</button> -->
      <button mat-raised-button color="primary" matStepperNext class="m-1" >Next</button>
    </div>      
  </form>
  </mat-step>

  <mat-step [stepControl]="eventInitiation2" label="Event Initiation2">
    <form [formGroup]="eventInitiation2">
      <div class="row">
        <div class="col">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Event Type</mat-label>
            <mat-select formControlName="eventType">
                 <mat-option *ngFor="let event of eventDetails" value={{event.EventTypeId}}>{{event.EventType}}</mat-option> 
            </mat-select>
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>Event Topic</mat-label>
            <input matInput placeholder="Placeholder" formControlName="eventTopic">
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>Event Date</mat-label>
            <input matInput type="date" formControlName="eventDate">
          </mat-form-field>
             
          <div class="row">
            <mat-form-field class="col-lg-6 col-md-6 col-sm-6" color="accent" appearance="outline" >
              <mat-label>Start Time</mat-label>
              <input  matInput type="time" formControlName="startTime">
            </mat-form-field>
                          
            <mat-form-field class="col-lg-6 col-md-6 col-sm-6" color="accent" appearance="outline">
              <mat-label>End Time</mat-label>
              <input  matInput type="time" formControlName="endTime">
            </mat-form-field>      
          </div>     
        </div>
      
        <div class="col">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Venue Name </mat-label>
            <input matInput placeholder="Venue Name" formControlName="venueName">
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option>State 1</mat-option> 
              <mat-option>State 2</mat-option> 
              <mat-option>State 3</mat-option> 
            </mat-select>
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
              <mat-option>City 1</mat-option> 
              <mat-option>City 2</mat-option> 
              <mat-option>City 3</mat-option> 
            </mat-select>
          </mat-form-field>

          <div class="d-flex justify-content-end">
            <button mat-raised-button color="accent" class="m-1" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" class="m-1" matStepperNext >Next</button>
          </div>

        </div>
      </div>
      
    </form>
  </mat-step>
  <mat-step [stepControl]="eventInitiation3" label="Event-Initiation3">
    <form [formGroup]="eventInitiation3">
    <div class="row">
       
        <div class="col">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Brand Name</mat-label>
            <mat-select formControlName="brandName">
                 <mat-option *ngFor="let brand of brandNames" value={{brand.BrandId}}>{{brand.BrandName}}</mat-option> 
            </mat-select>
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>% Allocation</mat-label>
            <input matInput placeholder="% of Allocation auto populated" formControlName="percentageAllocation">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Project-ID</mat-label>
            <input matInput placeholder="Project Id auto populated" formControlName="projectId" >
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>EventCode</mat-label>
            <input matInput placeholder="EventCode auto populated" formControlName="eventCode">
          </mat-form-field>
          
        </div>

      <div class="col-12 d-flex justify-content-center">
        <button mat-button color="primary" (click)="addToBrandTable()">AddNew</button>
        <button mat-button color="accent">Save</button>
        <button mat-button color="warn">Reset</button>
      </div>

      <div class="container table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Brand Name</th>
                    <th>Allocation</th>
                    <th>Project ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody *ngIf="showBrandTable">
                    <tr *ngFor="let brand of brandTableDetails; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{brand.brandName}}</td>
                        <td>{{brand.percentageAllocation}}%</td>
                        <td>{{brand.projectId}}</td>
                        <td style="cursor: pointer;">
                          <i  class="material-icons" style="margin-right: 5px;">edit</i>
                          <i class="material-icons">delete</i>
                        </td>

                    </tr>
                </tbody>
           
             </table>
      </div>

      <div class="container d-flex justify-content-end">
        <button mat-raised-button color="accent" class="m-1" matStepperPrevious >Previous</button>
        <button mat-raised-button color="primary" class="m-1" matStepperNext >Next</button>
        </div>
     
    </div>
</form>
</mat-step>
<mat-step [stepControl]="eventInitiation4" label="Event-initiation4">
  <form [formGroup]="eventInitiation4">
      <div class="row">
          <div class="col">
            <mat-form-field color="accent" appearance="outline">
              <mat-label>HCP Role</mat-label>
              <mat-select formControlName="hcpRole">
                <mat-option *ngFor="let hcp of hcpRoles" value={{hcp.HCPRoleID}}>{{hcp.HCPRole}}</mat-option> 
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="showHCPRoleNameTextBox"  color="accent" appearance="outline" >
              <mat-label>HCP Role Name</mat-label>
              <input  matInput type="text" formControlName="hcpRoleWritten" >
              <!-- <mat-hint>If others selected selected in HCP Role</mat-hint> -->
            </mat-form-field>
            

            <mat-form-field color="accent" appearance="outline">
              <mat-label>MIS Code</mat-label>
              <input matInput type="text" formControlName="misCode">
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
              <mat-label>Speaker Name/Trainer Name</mat-label>
              <input matInput type="text" placeholder="Speaker/Trainer Name prepopulated" formControlName="speakerName">
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field color="accent" appearance="outline" >
              <mat-label>Speaker Code/Trainer Code</mat-label>
                <input matInput type="text" placeholder="Speaker/Trainer Code prepopulated" formControlName="speakerCode">
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
              <mat-label>Speciality</mat-label>
              <input matInput type="text" placeholder="Speciality prepopulated" formControlName="speaciality">
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline" >
              <mat-label>Tier</mat-label>
              <input matInput type="text" placeholder="Tier prepopulated" formControlName="tier">
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
              <mat-label>Go/N-Go</mat-label>
              <input matInput type="text" placeholder="Go/N-Go prepopulated" formControlName="goNonGo">
          </mat-form-field>
          </div>

          <div class="container d-flex justify-content-end">
              <button mat-raised-button color="accent" class="m-1" matStepperPrevious >Previous</button>
              <button mat-raised-button color="primary" class="m-1" matStepperNext >Next</button>
          </div>
        </div>
      </form>
</mat-step>
<mat-step [stepControl]="eventInitiation5" label="Event-initiation5">
  <form [formGroup]="eventInitiation5">
      <div class="row">
        <div class="col">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Presentation / Speaking / Workshop duration</mat-label>
            <input matInput type="number" placeholder="Enter Duration in minutes" formControlName="presentationDuration">
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>Development  presentation /Panel session preparation</mat-label>
            <input matInput type="number" placeholder="Enter Duration in minutes" formControlName="panelSessionPreparation">
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>Q&A Session</mat-label>
            <input matInput type="number" [max]="15" placeholder="Enter Duration in minutes" formControlName="qaSession">
            <mat-hint>(Max 15 minutes)</mat-hint>
          </mat-form-field>         
        </div>
        <div class="col">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Speaker/Trainer Briefing</mat-label>
            <input matInput type="number" [max]="120" placeholder="Enter Duration in minutes" formControlName="briefingDuration">
            <mat-hint>(Max 120 minutes)</mat-hint>
          </mat-form-field>
  
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Total number of hours</mat-label>
            <input matInput type="number" placeholder="Total number of hours prepopulated" formControlName="totalHours">
          </mat-form-field>

          <div class="container d-flex justify-content-end">
            <button mat-raised-button color="accent" class="m-1" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" class="m-1" matStepperNext >Next</button>
         </div>
        </div>

     

      

      
       
     

      
    
  </div>
  
  </form>
</mat-step>
<mat-step [stepControl]="eventInitiation6" label="Event-initiation6"> 
  <form [formGroup]="eventInitiation6">
    <div class="row">
      <div class="col">
          <div class="m-2">
            <mat-label>Is Honorarium</mat-label>
            <mat-radio-group formControlName="isHonararium">
               <div style="display: flex; justify-content: space-evenly;">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
               </div> 
            </mat-radio-group>
          </div>

          <div class="m-3" *ngIf="showUploadNOC">
            <mat-label>Upload NOC</mat-label><br>
            <input type="file" formControlName="uploadNOC">
          </div>

          <mat-form-field *ngIf="showRationale" color="accent" appearance="outline">
            <mat-label>Rationale</mat-label>
            <input matInput placeholder="Enter Currency" formControlName="rationale">
          
          </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
              <mat-label>Currency</mat-label>
              <mat-select formControlName="currency">
                   <mat-option value="rupees" >Rupees</mat-option> 
                   <mat-option value="dollar">Dollar</mat-option> 
                   <mat-option value="other">Other</mat-option>
              </mat-select>
            </mat-form-field>

          <mat-form-field  *ngIf="showOtherCurrencyTextBox" color="accent" appearance="outline">
            <mat-label>Other Currency</mat-label>
            <input matInput placeholder="Enter Currency" formControlName="otherCurrency">
            <!-- <mat-hint>(If other currency is selected)</mat-hint> -->
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>Selection Of Taxes</mat-label>
            <mat-select formControlName="taxSelect">
                 <mat-option>Tax 1</mat-option> 
                 <mat-option>Tax 2</mat-option> 
            </mat-select>
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline" >
            <mat-label>Benificiary Name</mat-label>
            <input matInput placeholder="Enter Benificiary Name" formControlName="benficiaryName" >
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>Bank Account Number</mat-label>
            <input matInput placeholder="Enter Bank Account Number" formControlName="bankAccountNumber" >
          </mat-form-field>
  

      </div>
      <div class="col">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Name as per PAN</mat-label>
          <input matInput placeholder="Name as per PAN pre populated" formControlName="nameAsPan">
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline" >
          <mat-label>PAN Card Number</mat-label>
          <input matInput placeholder="PAN Card Number pre populated" formControlName="panCardNumber" >
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline" >
          <mat-label>IFSC Code </mat-label>
          <input matInput placeholder="IFSC Code pre populated"  formControlName="ifscCode">
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Email ID (*optional)</mat-label>
          <input matInput placeholder="Email ID pre populated" formControlName="emailId">
        </mat-form-field>

        <div class="m-3">
          <mat-label>Upload PAN Card</mat-label>
          <input type="file" formControlName="uploadPAN">
        </div>

        <div class="m-3">
          <mat-label>Upload Cheque</mat-label>
          <input type="file" formControlName="uploadCheque">
        </div>
        
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button mat-button color="primary">AddNew</button>
        <button mat-button color="accent">Save</button>
        <button mat-button color="warn">Reset</button>
      </div>

      <div class="container table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>HCPRole</th>
                    <th>MISCode</th>
                    <th>Speaker/TrainerName</th>
                    <th>GO/NonGO</th>
                    <th>Honorarium</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>HCP Role - 1</td>
                        <td>MIS-001</td>
                        <td>S-N-1</td>
                        <td>GO</td>
                        <td>Yes</td>
                        <td style="cursor: pointer;">
                          <i  class="material-icons" style="margin-right: 5px;">edit</i>
                          <i class="material-icons">delete</i>
                        </td>

                    </tr>
                </tbody>
           
             </table>
        </div>
        <div class="container d-flex justify-content-end">
            <button mat-raised-button color="accent" class="m-1" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" class="m-1" matStepperNext >Next</button>
        </div>
    </div>
  </form>

  

</mat-step>
<mat-step label="Event-initiation7">
  <form [formGroup]="eventInitiation7">
    <div class="row">
      <div class="col">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Invitees</mat-label>
          <mat-select formControlName="invitee">
               <mat-option>Invitee 1</mat-option> 
               <mat-option>Invitee 2</mat-option> 
          </mat-select>
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Expense</mat-label>
          <mat-select formControlName="expense">
               <mat-option>Expense 1</mat-option> 
               <mat-option>Expense 2</mat-option> 
          </mat-select>
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Enter Expense amount</mat-label>
          <input matInput placeholder="Enter Expense amount" formControlName="expenseAmount" >
          <mat-hint>(If expense selected as Food and Beverages)</mat-hint>
        </mat-form-field>

        <div class="m-2">
          <mat-label>Amount is excluding Tax</mat-label>
          <mat-radio-group formControlName="isExcludingTax">
             <div style="display: flex; justify-content: space-evenly;">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
             </div> 
          </mat-radio-group>
        </div>
      </div>
      <div class="col">
        <div class="m-3">
          <mat-label>Upload Deviation</mat-label>
          <input type="file" formControlName="uploadExpenseDeviation">
        </div>

        <div class="m-2">
          <mat-label>Is BTC/BTE?</mat-label>
          <mat-radio-group formControlName="isBtc">
             <div style="display: flex; justify-content: space-evenly;">
              <mat-radio-button value="btc">BTC</mat-radio-button>
              <mat-radio-button value="bte">BTE</mat-radio-button>
             </div> 
          </mat-radio-group>
        </div>

        <div class="m-2">
          <mat-label>Calculate Total Expense</mat-label>
          <mat-radio-group formControlName="toCalculateExpense">
             <div style="display: flex; justify-content: space-evenly;">
              <mat-radio-button value="yes">Yes</mat-radio-button>
              <mat-radio-button value="no">No</mat-radio-button>
             </div> 
          </mat-radio-group>
        </div>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Final amount</mat-label>
          <input matInput placeholder="Auto Calculate" formControlName="finalAmount" >
        </mat-form-field>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button mat-button color="primary">AddNew</button>
        <button mat-button color="accent">Save</button>
        <button mat-button color="warn">Reset</button>
      </div>

      <div class="container table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Invitees</th>
                    <th>Expense</th>
                    <th>Calculate total expense</th>
                    <th>Final Amount </th>
                    <th>BTC / BTE</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Invitee - 1</td>
                        <td>CME Activities</td>
                        <td>Yes</td>
                        <td>3455</td>
                        <td>BTC</td>
                        <td style="cursor: pointer;">
                          <i  class="material-icons" style="margin-right: 5px;">edit</i>
                          <i class="material-icons">delete</i>
                        </td>

                    </tr>
                </tbody>
           
             </table>
      </div>

      <div class="col">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>BTC Total Amount</mat-label>
          <input matInput placeholder="Auto Calculate" formControlName="btcTotalAmount" >
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>BTE Total Amount</mat-label>
          <input matInput placeholder="Auto Calculate" formControlName="bteTotalAmount" >
        </mat-form-field>
      </div>

      <div class="col">
          <div class="m-3">
            <mat-label>Agenda Upload</mat-label><br>
            <input type="file" formControlName="uploadAgenda">
          </div>

          <div class="m-3">
            <mat-label>Invitation Upload</mat-label><br>
            <input type="file" formControlName="uploadInvitation">
          </div>

      </div>
      <div class="container d-flex justify-content-center">
        <button mat-raised-button color="accent" class="m-1" matStepperPrevious >Previous</button>
        <button mat-raised-button color="primary" class="m-1" matStepperNext >Submit</button>
    </div>
      
    </div>
    
  </form>
  
</mat-step>

</mat-stepper>
