body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
      background-color: #DCF2F6;
      font-size: 10x;
  }
  
  
  .divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: black
  }
  .logo
  {
    height: 30px;
  }
  .signin
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #formContainer
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .btnwidth {
    width: 97%;
  }
  
  
  img {
    object-fit: cover;
    height: 100vh;
  }

  .error{
    color: red;
    font-size: 13px;

  }
  
  